:root[data-theme='light'] {
    --bg-color: white;
    --header-color: white;
    --text-color: black;
    --cookies-modal-color: #253b48;
    --hover-background: rgb(230, 230, 230);
    --active-background: rgb(216, 216, 216);
    --svg-color: #999;
    --login-form-color: white;
    --login-form-text: #343436;
    --login-form-svg: #999999;
    --code-design-button: #d40080;
    --loader-color: rgb(63, 63, 63);
    --unread-background: #e6f7ff;
    --unread-hover: #c7edff;
    --unread-active: #96deff;
}

:root[data-theme='dark'] {
    --bg-color: #1c1c1d;
    --header-color: #343436;
    --text-color: white;
    --cookies-modal-color: #1d6a97;
    --hover-background: rgb(37, 37, 37);
    --active-background: rgb(14, 14, 14);
    --svg-color: #ffffff;
    --login-form-color: #343436;
    --login-form-text: white;
    --login-form-svg: rgb(202, 202, 202);
    --code-design-button: white;
    --loader-color: white;
    --unread-background: #1a2a40;;
    --unread-hover: #0c1829;
    --unread-active: #081629;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

svg {
    color: var(--svg-color);
    font-size: 30px;
    cursor: pointer;
}

.global-spinner{
    width: 100%;
    height: 100vh;
    justify-self: center;
    align-items: center;
    display: flex;
    padding-left: 45%;
}