.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.opacity {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.modal {
    z-index: 999;
    position: absolute;
    width: 90%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    background-color: var(--header-color);
    box-shadow: 0 0 5px black;
    padding: 20px;
}


.buttons{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 10px;
}

.design-button {
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--code-design-button);
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--header-color);
    color: var(--code-design-button);
}

.design-button:hover,
.design-button:focus {
    opacity: 0.8;
}

.design-button:active {
    opacity: 0.5;
}

.design-button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}