.main-div{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    padding: 20px;
}

.info-div{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.item-div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.title-div{
    font-size: 21px;
    margin:20px 0 10px 0;
}

.title{
    font-weight: 500;
}

.date{
    color:var(--login-form-text)
}

.tech{
    border-top: 1px solid gray;
    padding-top: 10px;
}