.email-two{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-two big{
    font-size: 28px;
}

.buttons-div {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.email-two ul{
    margin-top: -15px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap:5px;
}

