.setup-profile-div {
    background-color: var(--header-color);
    max-width: 550px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 20px !important;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.phone-div{
    display: flex;
    align-items:end;
    gap: 5px;
    width: 100%;
}

.phone-div .input-div{
    width: 100%;
}

.setup-profile-div big{
    text-align: center;
}