.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    border-bottom: 2px solid darkgray;
    box-shadow: 0 0 5px black;
}

.logo {
    max-height: 100px;
    margin: 0px 50px;
    position: relative;
}

.logo img {
    max-height: 100px;
    cursor: pointer;
}

.blue-box {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 5px;
    background-color: #1c408a;
}

.right-div {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
}

.login-button {
    padding: 20px 0px;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    background-color: #d40080;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.login-button:hover,
.login-button:focus {
    opacity: 0.8;
}

.login-button:active {
    opacity: 0.5;
}

.nav-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 990;
    background-color: black;
}

.right-div svg{
    border: 3px solid var(--header-color);
}

.right-div svg:focus {
    border: 3px solid white;
}

.message-div{
    position: relative;
    display: flex;
    justify-content: center;
}

.message-div span:first-of-type{
    font-size: 35px;
    cursor: pointer;
    color:var(--svg-color);
}

.message-count{
    position: absolute;
    top: -10px;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    background-color: red;
}


@media (max-width: 768px) {

    .right-div .login-button {
        display: none;
    }

    .logo {
        height: 60px;
    }

    .logo img {
        height: 60px;
    }
}

@media (max-width: 768px) {

    .right-div .login-button {
        display: none;
    }

    .logo {
        height: 60px;
    }

    .logo img {
        height: 60px;
    }
}